## Import các thư viện cần thiết

In [1]:
import requests
import json
import pandas as pd
import time
import datetime
import calendar

## Thu thập dữ liệu

- Chúng em sẽ thu thập dữ liệu thông qua api do trang https://openweathermap.org đã cung cấp sẵn và lưu và biến data.
    

- Mãu Api: http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={APIkey}
<table class="material-table">
                  <tr>
            <th colspan="3">Parameters</th>
                  </tr>
               <tr>
                     <td><code class="nowrap">lat</code></td>
                     <td class="sub">required</td>
                     <td>Latitude. If you need the geocoder to automatic convert city names and zip-codes to geo coordinates and the other way around, please use our <a href="/api/geocoding-api">Geocoding API</a></td>
                  </tr>
                     <tr>
                     <td><code class="nowrap">lon</code></td>
                     <td class="sub">required</td>
                     <td>Longitude. If you need the geocoder to automatic convert city names and zip-codes to geo coordinates and the other way around, please use our <a href="/api/geocoding-api">Geocoding API</a></td>
                  </tr>
                  <tr>
                     <td><code class="nowrap">start</code></td>
                     <td class="sub">required</td>
                     <td>Start date (unix time, UTC time zone), e.g. start=1606488670</td>
                  </tr>
                  <tr>
                     <td><code class="nowrap">end</code></td>
                     <td class="sub">required</td>
                     <td>End date (unix time, UTC time zone), e.g. end=1606747870</td>
                  </tr>
                  <tr>
                     <td><code class="nowrap">appid</code></td>
                     <td class="sub">required</td>
                     <td>Your unique API key (you can always find it on your account page under the <a href="https://home.openweathermap.org/api_keys" target="_blank">"API key" tab</a>)</td>
                  </tr>
               </table>

*Api yêu cầu ngày tháng phải ở dạng Unix Time, chúng em sử dụng hàm bên dưới để chuyển từ định dạng datetime thành Unix time. Nguồn tham khảo: https://stackoverflow.com/questions/1077285/how-to-specify-time-zone-utc-when-converting-to-unix-time-python*

In [2]:
def date_time_to_utc_epoch(dt_utc):         #convert from utc date time object (yyyy-mm-dd hh:mm:ss) to UTC epoch
    frmt="%Y-%m-%d %H:%M:%S"
    dtst=dt_utc.strftime(frmt)              #convert datetime object to string
    time_struct = time.strptime(dtst, frmt) #convert time (yyyy-mm-dd hh:mm:ss) to time tuple
    epoch_utc=calendar.timegm(time_struct)  #convert time to to epoch
    return str(epoch_utc)

*Thiết kế hàm để load data từ api được cung cấp*

In [7]:
# Base url của API
base_url = 'http://api.openweathermap.org/data/2.5/air_pollution/history?'

# Hàm load data
def load_data(lat: str, lon: str, start_date: str, end_date: str, appid: str):
    """Hàm lấy dữ liệu

    Args:
        lat (str): Vĩ độ.
        lon (str): Kinh độ.
        start_date (str): Ngày bắt đầu (thời gian unix, múi giờ UTC).
        end_date (str): Ngày kết thúc (thời gian unix, múi giờ UTC).
        appid(str): Khóa API

    Returns:
        pd.Dataframe: Bảng dữ liệu
    """
    params = {
        'lat': lat,
        'lon': lon,
        'start': start_date,
        'end': end_date,
        'appid': appid
    }
    r = requests.get(base_url, params=params)
    air_quality_df = pd.DataFrame()
    if r.status_code == 200:
        data = json.loads(r.text)
        extracted_data = [{'dt': item['dt'], 'aqi': item['main']['aqi'], **item['components']} for item in data['list']]
        air_quality_df = pd.DataFrame(extracted_data)
    return air_quality_df

*Tiến hành load data từ API*

In [8]:
# Định nghĩa params
start_date = date_time_to_utc_epoch(datetime.datetime(2020,11,1))
end_date = date_time_to_utc_epoch(datetime.datetime(2022,11,1))
lat = '10.8231'
lon =  '106.6297'
appid =  "59da78cf88e29ed9966a7904d10dbf34"

# Load data
df = load_data(lat, lon, start_date, end_date, appid)
df

,dt,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,1606266000,5,1922.61,51.86,22.96,1.61,53.88,66.82,88.41,14.69
1,1606269600,5,2243.04,62.59,34.27,4.87,73.43,72.41,96.33,18.75
2,1606273200,5,2296.45,59.90,56.21,13.41,94.41,78.21,104.83,23.31
3,1606276800,4,1188.28,22.13,55.52,65.09,82.02,47.59,62.52,13.05
4,1606280400,5,1001.36,10.51,52.09,123.02,82.02,56.25,70.02,11.40
...,...,...,...,...,...,...,...,...,...,...
16819,1667246400,5,4859.92,107.29,46.61,0.00,85.83,272.48,328.84,53.70
16820,1667250000,5,5340.58,125.17,50.72,0.00,109.67,320.15,372.81,76.00
16821,1667253600,5,5607.60,135.90,54.84,0.00,127.79,354.77,399.57,92.21
16822,1667257200,5,5981.45,148.42,56.89,0.00,141.14,389.63,429.36,104.37
16823,1667260800,5,7156.37,177.03,54.15,0.00,143.05,458.70,504.03,100.31

*Lưu data dưới dạng csv*

In [9]:
df.to_csv('./data/air_quality.csv', sep=',', encoding='utf-8', index=False)

## Tiền xử lý dữ liệu

### Khám phá dữ liệu

Đọc dữ liệu từ file csv vừa lưu ở trên

In [10]:
air_quality_df = pd.read_csv('./Data/air_quality.csv')

Tổng quan dữ liệu thu được

In [11]:
# Hiển thị 10 dòng đầu của dữ liệu
air_quality_df.head(10)

           dt  aqi       co     no    no2      o3    so2  pm2_5    pm10    nh3
0  1606266000    5  1922.61  51.86  22.96    1.61  53.88  66.82   88.41  14.69
1  1606269600    5  2243.04  62.59  34.27    4.87  73.43  72.41   96.33  18.75
2  1606273200    5  2296.45  59.90  56.21   13.41  94.41  78.21  104.83  23.31
3  1606276800    4  1188.28  22.13  55.52   65.09  82.02  47.59   62.52  13.05
4  1606280400    5  1001.36  10.51  52.09  123.02  82.02  56.25   70.02  11.40
5  1606284000    5   907.90   5.92  43.53  167.37  77.25  63.60   77.39   9.88
6  1606287600    4   761.03   1.98  41.81  134.47  61.99  42.60   54.24   8.36
7  1606291200    4   774.38   2.12  48.67   92.98  61.04  30.08   40.95   8.87
8  1606294800    4   794.41   2.07  54.15   73.67  60.56  26.15   36.62   9.50
9  1606298400    5  2243.04   8.27  94.59   27.90  70.57  56.15   75.40  22.04

**Dữ liệu có bao nhiêu hàng, bao nhiêu cột?**

In [13]:
n_rows, n_cols = air_quality_df.shape

print(f"Dữ liệu có: {n_rows} hàng, {n_cols} cột.")

Dữ liệu có: 16824 hàng, 10 cột.

**Dữ liệu các dòng có bị lặp không?**

In [14]:
num_duplicated_rows = air_quality_df.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Dữ liệu không có dòng lặp.!")
else:
    if num_duplicated_rows > 1:
        print(f"Dữ liệu có {num_duplicated_rows} dòng lặp.")

Dữ liệu không có dòng lặp.!

Vậy là ta có đủ lượng dữ liệu cần và các dòng dữ liệu cũng không bị trùng lặp.

Chúng ta sẽ khám phá ý nghĩa của dữ liệu.

**Ý nghĩa của dữ liệu**

- Quan sát tổng thể ta có thể thấy mỗi dòng là số liệu của các loại chất để xác định mức độ ô nhiễm.

- Trong dữ liệu có cột dt để lưu lại thời gian ghi nhận số liệu, thời gian ghi nhận tính từ `1 tháng 11 năm 2020 00:00:00` đến `1 tháng 11 năm 2022 00:00:00`. Mỗi dòng là số liệu ghi nhận sau 1 giờ đồng hồ (mỗi dòng hơn nhau 3600 đơn vị).

- Bên cạnh đó ta có chỉ số chất lượng không khí là aqi. Các giá trị có thể có: 1, 2, 3, 4, 5. Trong đó:
    - 1 : Tốt
    - 2 : Khá
    - 3 : Trung bình
    - 4 : Kém
    - 5 : Rất Kém
- Dữ liệu trả về cũng bao gồm hàm lượng các chất ô nhiễm như sau:
    - CO (Carbon Monoxide - Monoxit Carbon):

        - Là khí màu không, không mùi, được tạo ra từ quá trình đốt cháy không hoàn toàn của nhiên liệu hóa thạch (như xăng, khí tự nhiên, than, và gỗ).
        - Thường được phát thải từ các phương tiện giao thông, quá trình công nghiệp và nguồn gốc tự nhiên.
        - Tiếp xúc với nồng độ cao có thể gây đau đầu, chóng mặt, buồn nôn và trong các trường hợp nghiêm trọng có thể gây tử vong.
    - NO (Nitric Oxide - Nitơ Oxít) và NO2 (Nitrogen Dioxide - Nitơ Điôxít):

        - Cả hai đều là khí được tạo ra từ quá trình đốt cháy, chủ yếu từ các phương tiện giao thông và hoạt động công nghiệp.
        - NO là chất tiền thân của NO2 trong không khí.
        - NO2 góp phần tạo thành sương mù và mưa axit.
        - Tiếp xúc lâu dài có thể gây ra các vấn đề về hệ hô hấp và làm trầm trọng thêm các bệnh về phổi như hen suyễn và các bệnh về phổi khác.
    - O3 (Ozone - Ozon):

        - Là khí gồm ba nguyên tử ôxy.
        - Được tạo thành từ phản ứng hóa học giữa oxít nitơ (NOx) và các hợp chất hữu cơ bay hơi (VOC) dưới ánh nắng mặt trời.
        - Ở mức độ sát đất, ozone là thành phần chính của sương mù.
        - Hít thở ozone có thể gây kích ứng họng, ho, đau ngực và làm trầm trọng các vấn đề về hệ hô hấp.
    - SO2 (Sulfur Dioxide - Lưu huỳnh Điôxít):

        - Là khí được tạo ra từ đốt cháy nhiên liệu hóa thạch chứa lưu huỳnh (than và dầu) và các quá trình công nghiệp (như khai thác kim loại).
        - Đóng góp lớn vào việc tạo ra mưa axit.
        - Hít thở SO2 có thể gây kích ứng mũi và họng, vấn đề hô hấp và làm trầm trọng các vấn đề về hen suyễn.
    - PM2.5 và PM10 (Chất hạt bụi):

        - PM2.5 đề cập đến các hạt bụi nhỏ có đường kính thường là 2.5 micromet và nhỏ hơn.
        - PM10 bao gồm các hạt có đường kính lên đến 10 micromet.
        - Nguồn gốc bao gồm phát thải từ phương tiện giao thông, quá trình công nghiệp, hoạt động xây dựng và các nguồn tự nhiên như bão cát.
        - PM2.5 và PM10 có thể xâm nhập sâu vào phổi và gây ra các vấn đề về hô hấp, vấn đề về tim mạch và các tác động khác đối với sức khỏe.
    - NH3 (Ammonia - Amoniac):

        - Là hợp chất chủ yếu được phát ra từ hoạt động nông nghiệp, chất thải động vật và các quá trình công nghiệp.
        - Đóng góp vào việc tạo ra các hạt bụi mịn và có thể phản ứng với các chất ô nhiễm khác trong không khí.
        - Hít thở NH3 có thể gây kích ứng mắt, mũi và họng.
    
Chi tiết về thang đo ô nhiễm nằm ở bảng sau:
         <table class="material-table">
<thead>
  <tr>
    <th>Qualitative name</th>
    <th>Index</th>
    <th colspan="6">Pollutant concentration in &mu;g/m<sup>3</sup></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td  colspan="2"></td>
    <td >SO<sub>2</sub></td>
    <td >NO<sub>2</sub></td>
    <td >PM<sub>10</sub></td>
    <td >PM<sub>2.5</sub></td>
    <td >O<sub>3</sub></td>
    <td >CO</td>
  </tr>
  <tr>
    <td >Good</td>
    <td >1</td>
    <td >[0; 20)</td>
    <td >[0; 40)</td>
    <td >[0; 20)</td>
    <td >[0; 10)</td>
    <td >[0; 60)</td>
    <td >[0; 4400)</td>
  </tr>
  <tr>
    <td >Fair</td>
    <td >2</td>
    <td >[20; 80)</td>
    <td >[40; 70)</td>
    <td >[20; 50)</td>
    <td >[10; 25)</td>
    <td >[60; 100)</td>
    <td >[4400; 9400)</td>
  </tr>
  <tr>
    <td >Moderate</td>
    <td >3</td>
    <td >[80; 250)</td>
    <td >[70; 150)</td>
    <td >[50; 100)</td>
    <td >[25; 50)</td>
    <td >[100; 140)</td>
    <td >[9400-12400)</td>
  </tr>
  <tr>
    <td >Poor</td>
    <td >4</td>
    <td >[250; 350)</td>
    <td >[150; 200)</td>
    <td >[100; 200)</td>
    <td >[50; 75)</td>
    <td >[140; 180)</td>
    <td >[12400; 15400)</td>
  </tr>
  <tr>
    <td >Very Poor</td>
    <td >5</td>
    <td >⩾350</td>
    <td >⩾200</td>
    <td >⩾200</td>
    <td >⩾75</td>
    <td >⩾180</td>
    <td >⩾15400</td>
  </tr>
</tbody>
</table>